<br>
<!--- Add Event Modal -->
<h2>
  Admin
</h2>
<ng-template #addEventModal let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Create New Event</h5>
      <button type="button" class="close" (click)="close()">
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <form class="form-horizontal" [formGroup]='newEventForm'>
                <div class="form-group row">
                      <label for="eventName" class="col-2 col-form-label">Event Name:</label>
                      <div class="col-6">
                      <input type="text" class="form-control" type="text" placeholder="Event Name" formControlName="eventName" autofocus required>
                      </div>
                </div>
                <div class="form-group row">
                      <label for="dateStart" class="col-2 col-form-label">Date Start:</label>
                      <div class="col-6">
                      <app-date-picker
                      [placeholder]="clickedDate">
                      </app-date-picker>
                      </div>
                </div>
                <div class="form-group row">
                      <label for="dateStart" class="col-2 col-form-label">Date End:</label>
                      <div class="col-6">
                      <app-date-picker
                      [placeholder]="clickedDate">
                      </app-date-picker>
                      </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="newEvent()" (click)="close()">Submit</button>
      <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
</ng-template>




<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event Details</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Event:
      <pre>{{ modalData?.event.title }}</pre>
      Date Start:
      <pre>{{ modalData?.event.start }}</pre>
      Date End:
      <pre>{{ modalData?.event.end }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">
      <a role="button" class="nav-btn" aria-pressed="true" href="#/admin-view/program-management" (click)="close()">
        Manage
      </a>
    </button>
    <button type="button" class="btn btn-primary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate">
        Previous
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"><button class="btn btn-primary">Sample</button>
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br>

<button class="btn-primary" (click)="addEventModalToggle()">Create Event</button>
